.button-container {
    position: relative;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: red;

    button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border: 1px solid #FFF;
        border-radius: 20px;
        padding: 20px;
        font-size: 30px;
        color: #FFF;
        opacity: 0.5;
    }
}